@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

.navbar.header-navbar {
    flex-grow: 0;
    flex-wrap: nowrap;
    border: none;
    background-color: inherit;
    border-radius: 0;
    height: 3.5rem;
    min-height: 3.5rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    justify-content: flex-start;
}

.header-navbar .navbar-toggler {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    align-self: stretch;
}

.header-navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: transparent !important;
    height: 2rem;
    width: 2rem;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    overflow: auto;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    max-height: calc(100vh - 3.5rem);
    overflow: auto;
}

.content {
    max-width: 1100px;
    padding: 1.1rem 2rem 0 2rem;
    flex: 1 1 auto;
}

.sidebar.collapse {
    display: none;
}

.sidebar.expand {
    display: block;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.title {
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    font-weight: 600 !important;
    padding: .25rem 1rem .25rem .125rem;
}

.fit-width {
    max-width: 100%;
}

.mobile-view, .mobile-view-horizontal,
.grid-toolbar-new, .grid-toolbar-edit,
.grid-toolbar-delete, .grid-toolbar-refresh,
.grid-toolbar-filter-row, .grid-toolbar-document {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}

.mobile-view, .mobile-view-horizontal {
    height: 32px;
    width: 32px;
}

.grid-toolbar-new, .grid-toolbar-edit,
.grid-toolbar-delete, .grid-toolbar-refresh,
.grid-toolbar-filter-row, .grid-toolbar-document {
    height: 16px;
    width: 16px;
}

.mobile-view {
    -webkit-mask-image: url("../images/mobile_view.svg");
    mask-image: url("../images/mobile_view.svg");
}

.mobile-view-horizontal {
    -webkit-mask-image: url("../images/mobile_view_horizontal.svg");
    mask-image: url("../images/mobile_view_horizontal.svg");
}

.grid-toolbar-new {
    -webkit-mask-image: url("../images/GridToolbarNew.svg");
    mask-image: url("../images/GridToolbarNew.svg");
}

.grid-toolbar-edit {
    -webkit-mask-image: url("../images/GridToolbarEdit.svg");
    mask-image: url("../images/GridToolbarEdit.svg");
}

.grid-toolbar-delete {
    -webkit-mask-image: url("../images/GridToolbarDelete.svg");
    mask-image: url("../images/GridToolbarDelete.svg");
}

.grid-toolbar-refresh {
    -webkit-mask-image: url("../images/GridToolbarRefresh.svg");
    mask-image: url("../images/GridToolbarRefresh.svg");
}

.grid-toolbar-filter-row {
    -webkit-mask-image: url("../images/GridToolbarFilterRow.svg");
    mask-image: url("../images/GridToolbarFilterRow.svg");
}

.grid-toolbar-document {
    -webkit-mask-image: url("../images/GridToolbarDocument.svg");
    mask-image: url("../images/GridToolbarDocument.svg");
}

@media (max-width: 1199.98px) {
    .main {
        min-width: 100vw;
        display: flex;
        flex-flow: column nowrap;
    }

    .sidebar {
        display: none;
    }

    .sidebar.expand {
        position: fixed;
        top: 3.5rem;
        left: 0;
        min-width: 100vw; 
        background-color: #fff;
        z-index: 1050;
    }

    .app-sidebar > .nav-pills > .nav-item:last-of-type {
        padding-bottom: 0;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: inherit;
    }
}
/*.dropArea {
    border : 2px dashed gray;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    min-height: 150px;
    
}
.dropArea:hover {
    background-color: antiquewhite;
    color: #333;
}
.dropArea input[type=file]{
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.dropAreaDrug {
    background-color:darkgray;
}*/