﻿@page "/"

@inject TSSAppSrv appSrv
@inject NavigationManager NavigationManager
<DxFormLayout>
    <DxFormLayoutItem Caption="Claim" ColSpanMd="12">
        <Template>
            <DxComboBox Data="@claimList" Value="@claim" ValueChanged="@((ClaimHeader claimHeader) => ClaimChange(claimHeader))" TextFieldName="@nameof(ClaimHeader.ClaimHeaderNumber)" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" FilteringMode="DataGridFilteringMode.Contains"></DxComboBox>
            <DxButton RenderStyle="@ButtonRenderStyle.Info" SubmitFormOnClick="true" @onclick="NewClaimClick" Text="New Claim"/>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Company" ColSpanMd="6">
        <Template>
            <DxComboBox Data="@companyList" Value="@company" ValueChanged="@((LookupDto lookupDto) => CompanyChange(lookupDto))" TextFieldName="@nameof(LookupDto.Name)" FilteringMode="DataGridFilteringMode.Contains" ReadOnly="@claim.ClaimDetails.Any()"></DxComboBox>           
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Value Stream" ColSpanMd="6">
        <Template>
            <DxComboBox Data="@valueStreamList" Value="@valueStream" ValueChanged="@((Entity entity) => ValueStreamChange(entity))" TextFieldName="@nameof(Entity.Name)" FilteringMode="DataGridFilteringMode.Contains" ReadOnly="@claim.ClaimDetails.Any()"></DxComboBox>          
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Project" ColSpanMd="6">
        <Template>
            <DxComboBox Data="@projectList" Value="@claim.Project" ValueChanged="@((Project x) => ProjectChange(x))" TextFieldName="Name" EditFormat="{0}, {1}, {2}" FilteringMode="DataGridFilteringMode.Contains" ReadOnly="@claim.ClaimDetails.Any()">
                <DxListEditorColumn FieldName="@nameof(Project.Name)" Caption="Project" />
                <DxListEditorColumn FieldName="@nameof(Project.PastelCode)" Caption="Cost Code" />
                <DxListEditorColumn FieldName="@($"{nameof(Project.ProjectManagerEmployee)}.{nameof(Employee.FullName)}")" Caption="Manager" />
                <DxListEditorColumn FieldName="@nameof(Project.Recoverable)" Caption="Recoverable" />
            </DxComboBox>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Claimant" ColSpanMd="6">
        <Template>
            <DxComboBox Data="@employeeList" @bind-Value="@employee" TextFieldName="Name" EditFormat="{0}, {1}" FilteringMode="DataGridFilteringMode.Contains" ReadOnly="@claim.ClaimDetails.Any()">
                <DxListEditorColumn FieldName="Name" Caption="Name" />
                <DxListEditorColumn FieldName="SalaryReference" Caption="Salary Reference" />
            </DxComboBox>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem ColSpanMd="6">
        <Template>
            <div class="text-right">
                <DxButton RenderStyle="@ButtonRenderStyle.Primary" SubmitFormOnClick="true" @onclick="@(() => appSrv.ClaimHeaderSave(claim))" Text="Save" />
                <DxButton RenderStyle="@ButtonRenderStyle.Success" SubmitFormOnClick="true" @onclick="@(() => appSrv.ClaimHeaderSubmit(claim))" Text="Submit Claim" />             
            </div>
        </Template>
    </DxFormLayoutItem>
</DxFormLayout>
<DxDataGrid @ref="gridDetail" Data="@claim.ClaimDetails" EditMode="DataGridEditMode.PopupEditForm" RowRemoving="@(x => OnRowRemoving(x))" RowEditStart="@(x => OnRowEditStart(x))" RowInsertStart="@(() => OnRowInsertStart())" PageSize="0">
    <Columns>
        <DxDataGridCommandColumn Width="150px" Visible="@(company != null && valueStream != null && claim.Project != null && employee != null)"></DxDataGridCommandColumn>
        <DxDataGridDateEditColumn Caption="Date" Field="@nameof(ClaimDetail.DateOfTransaction)" DisplayFormat="yyyy/MM/dd" />
        <DxDataGridColumn Caption="Description" Field="@nameof(ClaimDetail.ClaimDetailDescription)" />
        <DxDataGridColumn Caption="Amount" Field="@nameof(ClaimDetail.Amount)" />
    </Columns>
    <TotalSummary>
        <DxDataGridSummaryItem Field=@nameof(claim.Amount) SummaryType=SummaryItemType.Sum DisplayFormat="Total Amount: {0:R 0.00}" />
    </TotalSummary>
    <EditFormTemplate Context="EditFormTemplateContext">
        <EditForm Model="@claimDetail" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <DxFormLayout>
                <DxFormLayoutItem Caption="Date" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxDateEdit @bind-Date="@claimDetail.DateOfTransaction" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Claim Type" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxComboBox Data="@claimTypeList" Value="@claimDetail.ClaimTypeId" ValueChanged="@((int x) => ClaimTypeChange(x))" ValueExpression="@(() => claimDetail.ClaimTypeId )" ValueFieldName="@nameof(ClaimType.ClaimTypeId)" TextFieldName="@nameof(ClaimType.ClaimTypeDescription)" FilteringMode="DataGridFilteringMode.Contains"></DxComboBox>
                        <ValidationMessage For="@(() => claimDetail.ClaimTypeId)" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Pastel Accounts" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxComboBox Data="@pastelAccountList" @bind-Value="@claimDetail.PastelAccountId" ValueFieldName="@nameof(LookupDto.ID)" TextFieldName="@nameof(LookupDto.Name)" FilteringMode="DataGridFilteringMode.Contains"></DxComboBox>
                        <ValidationMessage For="@(() => claimDetail.PastelAccountId)" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Description" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxMemo @bind-Text="@claimDetail.ClaimDetailDescription" ResizeMode="MemoResizeMode.VerticalAndHorizontal" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                        <ValidationMessage For="@(() => claimDetail.ClaimDetailDescription)" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Travel Distance" ColSpanMd="12" Context="FormLayoutContext" Visible="@isTravel">
                    <Template>
                        <DxSpinEdit Value="@claimDetail.TravelDistance" ValueChanged="@((double? x) => TravelDistanceChange(x))" ValueExpression="@(() => claimDetail.TravelDistance)" DisplayFormat="0 km" MinValue="0" MaxValue="@double.MaxValue" />

                        <ValidationMessage For="@(() => claimDetail.TravelDistance)" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Standard KM Tariff" ColSpanMd="12" Context="FormLayoutContext" Visible="@isTravel">
                    <Template>
                        <DxSpinEdit @bind-Value="@claimDetail.StdKmTariff" ReadOnly="true" />
                        <ValidationMessage For="@(() => claimDetail.StdKmTariff)" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Amount" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxSpinEdit @bind-Value="@claimDetail.Amount" DisplayFormat="R 0.00" ReadOnly="@isTravel" />
                        <ValidationMessage For="@(() => claimDetail.Amount)" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="VAT Invoice Included" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxCheckBox @bind-Checked="@claimDetail.IsVatTransaction" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Claim Attachment" ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <DxUpload Name="myFile" UploadUrl="@GetUploadUrl($"api/Upload/UploadFile?claimDetailId={claimDetail.ClaimDetailId}")">
                        </DxUpload>
                    </Template>      
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContext">
                    <Template>
                        <div class="text-right">
                            <DxButton RenderStyle="@ButtonRenderStyle.Link" SubmitFormOnClick="true" @onclick="@HandleValidSubmit" Text="Update" />
                            <DxButton RenderStyle="@ButtonRenderStyle.Link" @onclick="@OnCancelButtonClick" Text="Cancel" />
                        </div>
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
    </EditFormTemplate>
</DxDataGrid>

@code {

    [Parameter] public int claimDetailId { get; set; }
    bool UploadVisible { get; set; } = false;

    protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        UploadVisible = files.ToList().Count > 0;

        // InvokeAsync(StateHasChanged);
    }
    protected string GetUploadUrl(string url)
    {
        return NavigationManager.ToAbsoluteUri(url).AbsoluteUri;
    }



    bool popupVisible { get; set; } = false;

    bool isTravel
    {
        get
        {
            if (claimDetail == null)
                return false;

            return (claimTypeList.Where(x => x.ClaimTypeId == claimDetail.ClaimTypeId).FirstOrDefault()?.ClaimCategory ?? "Other") != "Other";
        }
    }
    private void NewClaimClick()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri, true);
    }



    //DxDataGrid<ClaimHeader> gridHeader;
    DxDataGrid<ClaimDetail> gridDetail;

    LookupDto company;
    List<LookupDto> companyList;


    Entity valueStream;
    List<Entity> valueStreamList;

    //Project project;
    List<Project> projectList;

    EmployeeDto employee;
    List<EmployeeDto> employeeList;

    LookupDto claimantEmployee;
    //Employee claimantEmployee;

    List<LookupDto> pastelAccountList;
    List<ClaimType> claimTypeList;

    ClaimHeader claim = new ClaimHeader();
    List<ClaimHeader> claimList;

    ClaimDetail claimDetail;

    protected override async Task OnInitializedAsync()
    {
        companyList = await appSrv.CompanyLookup();

        employeeList = await appSrv.EmployeeGetAll();
        claimList = await appSrv.ClaimHeaderForEmployee(System.Security.Principal.WindowsIdentity.GetCurrent().Name);//#MO TODO Replace with ASP.Core Identity
        //String test = NavigationManager.Uri;
        ////#MO DEBUG
        //company = new LookupDto() { ID = 1, Name = "Fourier Approach" };
        //valueStream = new EntityDto() { EntityId = 8, Name = "B0V0 Shared Services", StdKmTariff = 10 };
        //project = new ProjectDto() { ID = 948, Name = "Falcon Crest Admin & Support Project" };
        //claimTypeList = await appSrv.ClaimTypeLookup(true);
        //await InvokeAsync(StateHasChanged);
    }


    async Task CompanyChange(LookupDto lookupDto)
    {
        company = lookupDto;
        valueStream = null;
        projectList = null;
        claim.Project = null;

        valueStreamList = await appSrv.ValueStreamLookup(company.ID);
    }
    async Task ClaimChange(ClaimHeader claimHeader)
    {
        claim = claimHeader;
        valueStream = claimHeader.Project.Entity;
        //claimantEmployee = claimHeader.ClaimantEmployee;
        //projectList = null;
        //claim.Project = null;

        //valueStreamList = await appSrv.ValueStreamLookup(company.ID);
    }
    async Task ValueStreamChange(Entity entity)
    {
        valueStream = entity;
        claim.Project = null;

        projectList = await appSrv.ProjectForEntity(entity.EntityId);
    }

    async Task ProjectChange(Project projectSelected)
    {
        claim.Project = projectSelected;
        claimTypeList = await appSrv.ClaimTypeLookup(claim.Project.Recoverable);
    }

    async Task ClaimTypeChange(int claimTypeId)
    {
        claimDetail.ClaimTypeId = claimTypeId;
        pastelAccountList = await appSrv.PastelAccountsLookup(valueStream.EntityId, claimTypeId);
        claimDetail.PastelAccountId = pastelAccountList.FirstOrDefault()?.ID ?? 0;
        claimDetail.TravelDistance = isTravel ? 0 : 1;
    }

    void TravelDistanceChange(double? travelDistance)
    {
        claimDetail.TravelDistance = travelDistance;
        if (claimDetail.TravelDistance != null && claimDetail.StdKmTariff != null)
        {//Calc the cost to Travel
            Double stdKmTariffDouble = 0;
            if (claimDetail.StdKmTariff != null)
            { //StdKm specified
                if (Double.TryParse(claimDetail.StdKmTariff.ToString(), out stdKmTariffDouble))
                {
                    claimDetail.Amount = (decimal)(claimDetail.TravelDistance * stdKmTariffDouble);
                }
            }
        }
    }

    void OnRowInsertStart()
    {
        claimDetail = new ClaimDetail()
        {

            DateOfTransaction = DateTime.Now,
            StdKmTariff = valueStream.StdKmTariff

        };
    }


    void OnRowEditStart(ClaimDetail claimDetailSelected)
    {
        claimDetail = claimDetailSelected;
    }

    async Task OnCancelButtonClick()
    {
        await gridDetail.CancelRowEdit();
    }



    async Task HandleValidSubmit()
    {



        if (!claim.ClaimDetails.Contains(claimDetail))
            claim.ClaimantEmployeeId = employee.ID;
        claim.ClaimHeaderNumberCompany = company.Name;
        claim.ClaimCaptureDate = claimDetail.DateOfTransaction;

        claim.ClaimDetails.Add(claimDetail);




        await gridDetail.Refresh();
        await gridDetail.CancelRowEdit();

    }



    void OnRowRemoving(ClaimDetail claimDetail)
    {
        claim.ClaimDetails.Remove(claimDetail);
        this.StateHasChanged();
    }

}
